
 
/* My pro */
.app ul li{
  margin:0;
  padding:1;
  text-align:center;
  display:inline;
  text-decoration:none;        
}
.app ul li:hover{
  background:white;
}

.app ul li{
  font-size:20px;
  font-weight:bold;
  color: black;
  padding: 0 7px;
  border-right:1px solid white;
  text-decoration:none;    
}

.app ul{
  width: 1735px;
  background-color: white;
  padding: 20px;
  margin-right: 100px;
  text-align: center; 
  text-decoration: none;      
}
a{
  text-decoration: none;   
  color: black;   
}